/* General styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* Container for questions and answers */
.container {
    background: #e0f7fa; /* A light teal background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 60%; /* Adjusting width for space allocation */
    margin-right: 20px;
}

.questions-frame {
    background-color: #00796b; /* A dark teal for the question background */
    color: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

.answers-frame {
    flex: 1;
    padding-left: 20px;
}

.question-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.question-row label {
    margin-bottom: 10px;
    display: block;
}

/* Answer styling */
input[type="range"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

/* Result section */
#result {
    width: 35%; /* Allocating space for the result on the right */
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

#scoreResult {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

#interpretation {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 20px;
}

#copyButtons {
    display: flex;
    justify-content: flex-end;
}

#copyButtons button {
    background-color: #007bff;
    margin-left: 10px;
}

#copyButtons button:hover {
    background-color: #0056b3;
}
